<header class="main-header">
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link active" href="/" onclick="handleActive()">Home</a>
    </li>
    <li class="nav-item" style="margin-left: 20px;">
      <a class="nav-link active" href="/crud" onclick="handleActive()">CRUD</a>
    </li>
  </ul>
</header>